@page
@model TallerMecanica.Pages.Mecanico.DetallesModel
@{
    ViewData["Title"] = "Detalles";
}


<div>
    <h4>AutomovilM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Tipo_Transmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Tipo_Transmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Descripcion_Problema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Descripcion_Problema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Fecha_Entrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Fecha_Entrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Lugar_Fabricacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Lugar_Fabricacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutomovilM.ClienteF.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutomovilM.ClienteF.Apellido)
        </dd>
    </dl>
</div>


<div>
    <a asp-page="Index" class="btn btn-secondary btn-sm">Volver A Lista</a>

</div>

